{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="{% static 'jquery-3.3.1.min.js' %}"></script>
</head>

  <style type="text/css">
      ul{list-style: none;}
      .submenu{display: none;}

       .btn1 {
            display: inline-block;
            height: 20px;
            line-height: 38px;
            background-color: #009688;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }

  </style>

<body>

<form class="form-signin" action="{% url 'addACCgqkhb' %}" method="post">
    {% csrf_token %}
<div style="width:850px;height: 500px" >
<div style="height: 70px;width: 835px;float: left">
    姓名：<input type="text" style="width:60px;" id="data01" name="data01" placeholder="" value="" required>
    考核日期：<input type="text" style="width:60px;" id="data02" name="data02" placeholder="" value="" required>
    考核时长：<input type="text" style="width:30px;" id="data03" name="data03" placeholder="" value="" required>min
    席位：<input type="text" style="width:60px;margin-top: 5px" id="data04" name="data04" placeholder="" value="区调" required>
    题目编号：<input type="text" style="width:60px;margin-top: 5px" id="data05" name="data05" placeholder="" value="" required>
    难度:
        <select name="data06" id="data06" onmousemove="showHint(this.value)" style="width:70px;margin-top: 5px">
            <option value="0">初级</option>
            <option value="1">中级</option>
            <option value="2">高级</option>
        </select><br>
    考试类别：<input type="text" style="width:90px;margin-top: 5px" id="data07" name="data07" placeholder="" value="区调岗前培训" required>
    考核内容：<input type="text" style="width:90px;margin-top: 5px" id="nr" name="nr" placeholder="" value="" required>
</div >
<div style="width: 500px;float: left">
<div style="width: 500px;margin-top: 20px;float: left">
    <input type="button" style=";margin-bottom: 5px;" value="间隔与效率" onclick="showjg()">
    <input type="button" style=";margin-bottom: 5px;" value="协调通报" onclick="showxt()">
    <input type="button" style=";margin-bottom: 5px;" value="意识方法和程序" onclick="showys()">
    <input type="button" style=";margin-bottom: 5px;" value="标准陆空通话" onclick="showlk()"><br>
    <input type="button" style=";margin-bottom: 5px;" value="特情处置" onclick="showtq()">
    <input type="button" style=";margin-bottom: 5px;" value="雷达监控" onclick="showld()">
    <input type="button" style=";margin-bottom: 5px;" value="其他" onclick="showqt()">
</div>

<div style="width: 550px;float: left" >

 <div id="jg" style="width: 450px">

    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data08'),document.getElementById('jgcs'),document.getElementById('jgkf'),document.getElementById('zf'),2)" />
    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0"  id="data08" name="data08" />
    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data08'),document.getElementById('jgcs'),document.getElementById('jgkf'),document.getElementById('zf'),2)" />
    具备安全间隔的意识，冲突调配、精力分配得当(2)<br>

    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data09'),document.getElementById('jgcs'),document.getElementById('jgkf'),document.getElementById('zf'),10)" />
    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data09"  name="data09" />
    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data09'),document.getElementById('jgcs'),document.getElementById('jgkf'),document.getElementById('zf'),10)" />
    间隔符合标准，未发生小于规定间隔的事件(10)
 </div>


  <div id="xt" style="display: none;width: 450px;height: 50px ">

<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data10'),document.getElementById('xtcs'),document.getElementById('xtkf'),document.getElementById('zf'),2)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data10" name="data10" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data10'),document.getElementById('xtcs'),document.getElementById('xtkf'),document.getElementById('zf'),2)" />
适时通报飞行活动(2)
</div>

<div id="ys" style="display: none;width: 450px">
<ul id="accordion2" class="accordion2">
        <li>
            <div class="link"><i class="fa fa-paint-brush"></i>1.管制意识与判断力<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data11'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data11" name="data11"  />
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data11'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    主动管制（雷达识别与雷达引导、速度调整等）(2)</li>
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data12'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),3)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data12" name="data12"/>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data12'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),3)" />
                    不存在脱波过早或带冲突脱波(3)</li>
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data13'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data13" name="data13" />
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data13'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    进程单填写与移动及时、规范(2)</li>
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data14'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),3)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data14"  name="data14"/>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data14'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),3)" />
                    空中交通的计划和排序合理，加速空中交通有序流动(3)</li>
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data15'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data15"  name="data15"/>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data15'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    预案合理，指令明确，避免频繁改变预案或更正指令(2)</li>
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data16'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data16"  name="data16"/>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data16'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    具备简单冲突（相对、交叉汇聚、同向追赶）判断能力(2)</li>
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data17'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data17"  name="data17"/>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data17'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    管制决策考虑航空器性能以及机载设备的性能限制(2)</li>
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data18'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data18" name="data18" />
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data18'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    标牌和进程单的操作及输入正确、符合规范(2)</li>
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data19'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data19" name="data19" />
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data19'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    有阶梯下降/上升的理念(2)</li>
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data20'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),5)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data20" name="data20" />
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data20'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),5)" />
                    发现航空器或自己存在的错误并迅速采取行动修正(5)</li>
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data21'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data21" name="data21" />
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data21'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    具备发布高度指令前二次检查的习惯(2)</li>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa fa-code"></i> 2.设备操作<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data22'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data22" name="data22"/>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data22'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    熟练操作和使用自动化及内话系统(2)
                </li>
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data23'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data23" name="data23" />
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data23'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    屏幕参数设置正确(2)
                </li>
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data24'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data24" name="data24"/>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data24'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    航迹标牌摆放在合理的位置（不能有重叠）(2)
                </li>
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data25'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),1)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data25" name="data25" />
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data25'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),1)" />
                    及时对航迹信息（航向、速度、高度、航路等）进行修改，操作熟练，格式正确(1)
                </li>
                  <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data26'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data26" name="data26" />
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data26'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    冲突连线及时，到位(2)
                </li>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa fa-mobile"></i>3.告警处置<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data27'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data27" name="data27" />
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data27'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),2)" />
                    对各类告警信息敏感、处置及时(2)
                </li>
                <li>
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data28'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),5)" />
                    <input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data28" name="data28" />
                    <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data28'),document.getElementById('yscs'),document.getElementById('yskf'),document.getElementById('zf'),5)" />
                    冲突解脱时迅速判明形势，指令恰当、及时，通话用语标准(5)
                </li>
            </ul>
        </li>

    </ul>

 </div>

   <div id="lk" style="display: none;width: 450px">

<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data29'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),1)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data29" name="data29" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data29'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),1)" />
熟练使用中英文标准陆空通话用语，口齿清晰(1)<br>
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data30'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),1)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data30" name="data30" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data30'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),1)" />
陆空通话简洁明了、无理解歧义(1)<br>
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data31'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),1)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data31" name="data31" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data31'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),1)" />
能及时发现并纠正自身、机组通话中的错误(1)<br>
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data32'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),1)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data32" name="data32" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data32'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),1)" />
通话时机和技巧恰当，语音、语速、语调适当(1)<br>
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data33'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),1)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data33" name="data33" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data33'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),1)" />
脱波时指明下一扇区或管制单位名称(1)<br>
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data34'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),1)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data34" name="data34" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data34'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),1)" />
频率指令中按规定加小数点(1)<br>
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data35'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),2)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data35" name="data35" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data35'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),2)" />
首次建立联系带有本单位名称(2)<br>
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data36'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),2)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data36" name="data36" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data36'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),2)" />
每条指令均带有呼号，连续通话无省略呼号现象(2)<br>
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data37'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),2)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data37" name="data37" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data37'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),2)" />
首次雷达引导说明原因(2)<br>
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data38'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),1)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data38" name="data38" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data38'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),1)" />
对航空公司呼号、机场四字码熟悉(1)<br>
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data39'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),2)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data39" name="data39" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data39'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),2)" />
能够初步识别相似航班号，并对相似航班号采取基本处置措施(2)<br>
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data40'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),2)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data40" name="data40" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data40'),document.getElementById('lkcs'),document.getElementById('lkkf'),document.getElementById('zf'),2)" />
对机组发话内容存在疑问或没听懂时立刻去证实(2)<br>
</div>

 <div id="tq" style="display: none;width: 450px">
 <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data41'),document.getElementById('tqcs'),document.getElementById('tqkf'),document.getElementById('zf'),1)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data41" name="data41" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data41'),document.getElementById('tqcs'),document.getElementById('tqkf'),document.getElementById('zf'),1)" />
沉着冷静、反应机敏，特情性质判断准确(1)<br>
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data42'),document.getElementById('tqcs'),document.getElementById('tqkf'),document.getElementById('zf'),1)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data42" name="data42" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data42'),document.getElementById('tqcs'),document.getElementById('tqkf'),document.getElementById('zf'),1)" />
特情处置程序准确、得当，使用检查单(1)<br>
 <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data43'),document.getElementById('tqcs'),document.getElementById('tqkf'),document.getElementById('zf'),1)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data43" name="data43" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data43'),document.getElementById('tqcs'),document.getElementById('tqkf'),document.getElementById('zf'),1)" />
特情处置过程仍安全兼顾正常运行航空器的指挥调配(1)<br>
 </div>

  <div id="ld" style="display: none;width: 450px;height: 50px">
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data44'),document.getElementById('ldcs'),document.getElementById('ldkf'),document.getElementById('zf'),2)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data44" name="data44" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data44'),document.getElementById('ldcs'),document.getElementById('ldkf'),document.getElementById('zf'),2)" />
佩带耳机不间断监听，认真听取复诵进行确认和监督执行(2)<br>
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data45'),document.getElementById('ldcs'),document.getElementById('ldkf'),document.getElementById('zf'),10)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data45" name="data45" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data45'),document.getElementById('ldcs'),document.getElementById('ldkf'),document.getElementById('zf'),10)" />
发布指令等待机组完整复诵指令及呼号并复核后再进行标牌操作等确认动作(10)<br>
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNum(document.getElementById('data46'),document.getElementById('ldcs'),document.getElementById('ldkf'),document.getElementById('zf'),1)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data46" name="data46" />
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNum(document.getElementById('data46'),document.getElementById('ldcs'),document.getElementById('ldkf'),document.getElementById('zf'),1)" />
雷达扫视全面，不存在长期关注某一点的现象(1)<br>
</div>

 <div id="qt" style="display: none;width: 450px">
 <input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="-" onclick="subNumqt(document.getElementById('data47'),document.getElementById('qtkf'),document.getElementById('zf'),1)" />
<input style="text-align: center; width: 20px; height: 10px; float: left;" type="text" value="0" id="data47" name="data47"/>
<input style="width: 20px; height: 15px; border: 2px white; float: left;" type="button" value="+" onclick="addNumqt(document.getElementById('data47'),document.getElementById('qtkf'),document.getElementById('zf'),1)" />
其他扣分项<br>
<textarea style="width: 300px;height: 100px;margin-top: 10px" id="data48" name="data48">无</textarea>
</div>
</div>



<div id="koufen" style="margin-top: 20px;margin-bottom: 20px;float: left">
    <table id="t" width="360px" border="1" cellpadding="0" cellspacing="0" style="table-layout:fixed">
    <thead>
    <tr class="tabletop" align="center"  >
        <th width="10%">扣分项</th>
        <th width="10%">次数</th>
        <th width="10%">扣分</th>
    </tr>
    </thead>
     <tbody>
    <tr >
        <td style="text-align: center">间隔与效率</td>
        <td><input type="text" value="0" id="jgcs" style="border: 0px;text-align: center;width: 110px" ></td>
        <td><input type="text" value="0" id="jgkf" name="jgkf" style="border: 0px;text-align: center;width: 110px"></td>
    </tr>
    <tr >
        <td style="text-align: center">协调通报</td>
        <td><input type="text" value="0" id="xtcs" style="border: 0px;text-align: center;width: 110px" ></td>
        <td><input type="text" value="0" id="xtkf" name="xtkf" style="border: 0px;text-align: center;width: 110px"></td>
    </tr>
     <tr >
        <td style="text-align: center">程序方法与意识</td>
        <td><input type="text" value="0" id="yscs" style="border: 0px;text-align: center;width: 110px" ></td>
        <td><input type="text" value="0" id="yskf" name="yskf" style="border: 0px;text-align: center;width: 110px"></td>
    </tr>
     <tr >
        <td style="text-align: center">标准陆空通话</td>
        <td><input type="text" value="0" id="lkcs" style="border: 0px;text-align: center;width: 110px" ></td>
        <td><input type="text" value="0" id="lkkf" name="lkkf" style="border: 0px;text-align: center;width: 110px"></td>
    </tr>
     <tr >
        <td style="text-align: center">雷达监控</td>
        <td><input type="text" value="0" id="ldcs" style="border: 0px;text-align: center;width: 110px" ></td>
        <td><input type="text" value="0" id="ldkf" name="ldkf" style="border: 0px;text-align: center;width: 110px"></td>
    </tr>

         <tr >
        <td style="text-align: center">特情处置</td>
        <td><input type="text" value="0" id="tqcs" style="border: 0px;text-align: center;width: 110px" ></td>
        <td><input type="text" value="0" id="tqkf" name="tqkf" style="border: 0px;text-align: center;width: 110px"></td>
    </tr>

     <tr >
        <td style="text-align: center">其他</td>
        <td colspan="2" span="2"><input type="text" value="0" id="qtkf"  name="qtkf" style="border: 0px;text-align: center;width: 220px"></td>
    </tr>

     <tr>
         <td style="text-align: center">总分</td>
         <td colspan="2" span="2"><input type="text" value="100" id="zf" name="zf" style="border: 0px;text-align: center;width: 220px"  ></td>
     </tr>

     </tbody>
  </table>

</div></div>

<div style="float: top">
    考核情况记录<br>
    <textarea style="width: 330px;height: 100px;margin-top: 10px" id="qkjl" name="qkjl"></textarea>
</div>
<div style="float: top;margin-top: 20px">
    自我评价<br>
    <textarea style="width: 330px;height: 100px;margin-top: 10px" id="zwpj" name="zwpj"></textarea>
</div>
 <div style="float: top">
    综合评估情况<br>
  <textarea style="width: 330px;height: 100px;margin-top: 10px" id="jypy" name="jypy"></textarea>
</div>
<div style="margin-top: 10px;float: left">
    考核结果：
    <select name="jg" id="jg" onmousemove="showHint(this.value)" style="width:70px;">
            <option value="0">通过</option>
            <option value="1">不通过</option>
            <option value="2">待定</option>
        </select>
    考核人签名：
    <input type="text" style="width: 80px" id="qm1" name="qm1">
    评估人签名：
    <input type="text" style="width: 80px" id="qm2" name="qm2"><br>

    <button id="send1" class="btn1" style="width:100px;height:30px;margin-top: 20px" type="submit" >确定</button>
</div>
</div>
</form>


<script>
function subNum(arg,cs,kf,zf,dx){
if(arg.value>0) {
    arg.value = arg.value - 1;
    cs.value = cs.value - 1;
    kf.value = kf.value - dx;
    zf.value = zf.value - (-dx);
}
}

function addNum(arg,cs,kf,zf,dx){
arg.value=arg.value-(-1);
cs.value=cs.value-(-1);
kf.value=kf.value-(-dx);
zf.value=zf.value-dx;
}


function subNumqt(arg,kf,zf,dx){
if(arg.value>0) {
    arg.value = arg.value - 1;
    kf.value = kf.value - dx;
    zf.value = zf.value - (-dx);
}
}

function addNumqt(arg,kf,zf,dx){
arg.value=arg.value-(-1);
kf.value=kf.value-(-dx);
zf.value=zf.value-dx;
}

function showzf(arg){
document.getElementById("qtkf").value=arg;
document.getElementById("zf").value=document.getElementById("zf").value-(-100)-document.getElementById("zf").value-arg;
}

function showjg() {
    document.getElementById("jg").style.display="block";
    document.getElementById("xt").style.display="none";
    document.getElementById("ys").style.display="none";
    document.getElementById("lk").style.display="none";
    document.getElementById("ld").style.display="none";
    document.getElementById("tq").style.display="none";
    document.getElementById("qt").style.display="none";

}


function showxt() {
    document.getElementById("jg").style.display="none";
    document.getElementById("xt").style.display="block";
    document.getElementById("ys").style.display="none";
    document.getElementById("lk").style.display="none";
    document.getElementById("ld").style.display="none";
    document.getElementById("tq").style.display="none";
    document.getElementById("qt").style.display="none";
}

function showys() {
    document.getElementById("jg").style.display="none";
    document.getElementById("xt").style.display="none";
    document.getElementById("ys").style.display="block";
    document.getElementById("lk").style.display="none";
    document.getElementById("ld").style.display="none";
    document.getElementById("tq").style.display="none";
    document.getElementById("qt").style.display="none";
}

function showlk() {
    document.getElementById("jg").style.display="none";
    document.getElementById("xt").style.display="none";
    document.getElementById("ys").style.display="none";
    document.getElementById("lk").style.display="block";
    document.getElementById("ld").style.display="none";
    document.getElementById("tq").style.display="none";
    document.getElementById("qt").style.display="none";
}

function showld() {
    document.getElementById("jg").style.display="none";
    document.getElementById("xt").style.display="none";
    document.getElementById("ys").style.display="none";
    document.getElementById("lk").style.display="none";
    document.getElementById("ld").style.display="block";
    document.getElementById("tq").style.display="none";
    document.getElementById("qt").style.display="none";
}

function showtq() {
    document.getElementById("jg").style.display="none";
    document.getElementById("xt").style.display="none";
    document.getElementById("ys").style.display="none";
    document.getElementById("lk").style.display="none";
    document.getElementById("ld").style.display="none";
    document.getElementById("tq").style.display="block";
    document.getElementById("qt").style.display="none";
}

function showqt() {
    document.getElementById("jg").style.display="none";
    document.getElementById("xt").style.display="none";
    document.getElementById("ys").style.display="none";
    document.getElementById("lk").style.display="none";
    document.getElementById("ld").style.display="none";
    document.getElementById("tq").style.display="none";
    document.getElementById("qt").style.display="block";
}


  $(function () {
                $("#data02").datetimepicker({

                   format: 'Y-m-d H:i',
                    formatTime:	'H:i',
                    todayButton: true,
                });
            });

$(function() {
    var Accordion = function(el, multiple) {
        this.el = el || {};
        this.multiple = multiple || false;

        // Variables privadas
        var links = this.el.find('.link');
        // Evento
        links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
    }

    Accordion.prototype.dropdown = function(e) {
        var $el = e.data.el;
            $this = $(this),
            $next = $this.next();

        $next.slideToggle();
        $this.parent().toggleClass('open');

        if (!e.data.multiple) {
            $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
        };
    }

    var accordion = new Accordion($('#accordion'), false);
    var accordion2 = new Accordion($('#accordion2'), false);
});


</script>

     <!-- XDSoft DateTimePicker  时间选择 -->
        <link rel="stylesheet" href="{% static 'jquery.datetimepicker.css' %}"/>
        <script src="{% static 'jquery.datetimepicker.full.js' %}"></script>
</body>