{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>信息管理系统</title>


  </head>

  <body>

<div>
  <form >
            <input type="text"  placeholder="输入人员姓名查询">
  </form>
</div>
<br><br>

<div>

<table border="1" align="center" cellpadding="10" width="800">
<tr>
    <th colspan="7" bgcolor="#A9A9A9" >个人信息</th>
</tr>

<tr>
    <th bgcolor="#F0F0F0">姓名:</th>
    <td> {{ atcName }}</td>
    <th bgcolor="#F0F0F0">年龄:</th>
    <td>{{atcOld}}</td>
    <th bgcolor="#F0F0F0">民族:</th>
    <td>xx</td>
    <td rowspan="3" width="100"><p><img border="0" height="130"  width="100" src="https://i02piccdn.sogoucdn.com/a0a5a9f200f8a9fa" />
</p></td>
</tr>

<tr>
    <th bgcolor="#F0F0F0">出生日期:</th>
    <td>xxxxxxx</td>
    <th bgcolor="#F0F0F0">政治面貌:</th>
    <td>xx</td>
    <th bgcolor="#F0F0F0">学历:</th>
    <td>xx</td>
</tr>

<tr>
    <th bgcolor="#F0F0F0">专业:</th>
    <td>xxx</td>
    <th bgcolor="#F0F0F0">毕业学校:</th>
    <td>xxx</td>
    <th bgcolor="#F0F0F0">邮编:</th>
    <td>237483</td>
</tr>

<tr>
     <th bgcolor="#F0F0F0">爱好:</th>
     <td>xxxxxxxxx</td>
     <th bgcolor="#F0F0F0">籍贯:</th>
     <td>xxxxx</td>
     <th bgcolor="#F0F0F0">邮箱:</th>
     <td colspan="2"><p>182*******@qq.com</p></td>
</tr>

<tr>
     <th height="160" bgcolor="#F0F0F0">个人特长:</th>
     <td colspan="6">
   <p>xxxxxx</p>
   <p>xxxxxx</p>
   <p>xxxxxx</p>
    </td>
</tr>

<tr>
     <th height="160" bgcolor="#F0F0F0"> 自我介绍:</th>
     <td colspan="6">
    <p>xxxxxx</p>
    <p>xxxxxx</p>
    <p>xxxxxx</p>
</tr>

<tr>
     <th height="160" bgcolor="#F0F0F0">总结:</th>
     <td colspan="6">
    <p>xxxxxx</p>
    <p>xxxxxx</p>
    <p>xxxxxxx</p>
</tr>
</table>
      </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
