<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="/static/jquery-3.3.1.min.js"></script>

    <title>管制指挥岗见习资格评估表（塔台）</title>
    <style type="text/css">
        body {
            line-height: 24px;
            font: 14px Helvetica Neue, Helvetica, PingFang SC, \5FAE\8F6F\96C5\9ED1, Tahoma, Arial, sans-serif;
        }

        label {
            cursor: pointer;
        }

        label input {
            cursor: pointer;
            position: relative;
            top: 1px;
        }

        .btn1 {
            display: inline-block;
            height: 38px;
            line-height: 38px;
            background-color: #009688;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }

    </style>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div id="div1">

    {#    分析报表的月份：<textarea cols="1" rows="1"></textarea>月 &nbsp;&nbsp;#}
    {#    检查<textarea cols="1" rows="1"></textarea>段#}
    {#    </p>#}
    {#    <p>#}
    {#    塔台复训责任教员：<textarea cols="2" rows="1"></textarea>&nbsp;&nbsp;#}
    {#    塔台计划人均模拟机复训小时：<textarea cols="1" rows="1"></textarea>#}
    {#    </p>#}
    {#    <p>#}
    {#    区调复训责任教员：<textarea cols="2" rows="1"></textarea>&nbsp;&nbsp;#}
    {#    区调计划人均模拟机复训小时：<textarea cols="1" rows="1"></textarea>#}
    {#    </p><br>#}

    <button class="btn1" id="btn1" type="submit">&nbsp;&nbsp;陆空通话&nbsp;&nbsp;</button>
    <button class="btn1" id="btn1" type="submit">&nbsp;&nbsp;监听复诵&nbsp;&nbsp;</button>
    <button class="btn1" id="btn1" type="submit">&nbsp;&nbsp;间隔&nbsp;&nbsp;</button>
    <button class="btn1" id="btn1" type="submit">&nbsp;&nbsp;设备操作&nbsp;&nbsp;</button>
    <button class="btn1" id="btn1" type="submit">&nbsp;&nbsp;管制意识与判断力&nbsp;&nbsp;</button>
    <button class="btn1" id="btn1" type="submit">&nbsp;&nbsp;防止跑道侵入&nbsp;&nbsp;</button>
    <button class="btn1" id="btn1" type="submit">&nbsp;&nbsp;其他&nbsp;&nbsp;</button>

    <br>
    {% for i in data %}
        <select name="selLocation1" id="selLocation1">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <label for="account">{{ i.detailevalution }}({{ i.value }}分）</label>
        <br>
    {% endfor %}


    <table id="test" class="table table-bordered"
           width="100%" border="1" cellpadding="0" cellspacing="0" style="table-layout:fixed">
        <thead>
        <tr>
            <td>大</td>
            <td>次数</td>
            <td>扣分</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>通</td>
            <td>1</td>
            <td>-2</td> <!-- <input type="text"> -->

        </tr>
        <tr>
            <td>监</td>
            <td>0</td>
            <td>0</td> <!-- <input type="text"> -->

        </tr>
        <tr>
            <td>间</td>
            <td>0</td>
            <td>0</td> <!-- <input type="text"> -->

        </tr>
        <tr>
            <td>设</td>
            <td>0</td>
            <td>0</td> <!-- <input type="text"> -->

        </tr>
        <tr>
            <td>意</td>
            <td>0</td>
            <td>0</td> <!-- <input type="text"> -->

        </tr>
        <tr>
            <td>防侵</td>
            <td>0</td>
            <td>0</td> <!-- <input type="text"> -->

        </tr>
        <tr>
            <td>其</td>
            <td>0</td>
            <td>0</td> <!-- <input type="text"> -->

        </tr>

        </tbody>

    </table>
    <label for="account" style="font-size:300%;"> 100分</label>
    <script type="text/javascript">


        function confirm() {
            var btn12 = document.getElementById("btn12");
            btn12.href = "{% url 'trainningstatus' %}";
            var selectBox = document.forms[0].elements["location"];
            var selectBox = document.getElementById("selLocation1");

            //取得选择框
            var selectBox = document.querySelector("#selLocation1");
//取得由selected为true的选项的集合
            var selectedOptions = getSelectedOption(selectBox);

            var message = "";

            for (var i = 0, len = selectedOptions.length; i < len; i++) {
                message = "Select index:" + selectedOptions[i].index + "\nSelect text:" + selectedOptions[i].text + "\nSelect value:" + selectedOptions[i].value;
                console.log(message); //返回每一个选中项的索引、文本、值
            }


            if (selectBox.options[0].text === "塔台") {
                console.log("塔台");
                {#var html="<a href=\"{% url 'atcInfo' %}\" ></a>";#}
                var btn11 = document.getElementById("btn11");
                btn11.href = "{% url 'trainningstatus' %}";

                {#btn11.=html;#}
                {#window.location.href="{% url 'trainningstatus' %}"#}
                {#btn11.href="{% url 'trainningstatus' %}";#}
                {#btn11.onclick = function() {#}
                {#btn11.href="{% url 'infosearch' %}";#}
                {#    top.mainframe.frames['iframe_a'].location.href="{% url 'infosearch' %}"#}
                {#window.location.href="{% url 'infosearch' %}"#}
                {#               };#}

            }


        }

        function getSelectedOption(selectedBox) {
            var result = new Array();
            var option = null;

            for (var i = 0, len = selectBox.options.length; i < len; i++) {
                option = selectBox.options[i];
                //如果选项的selected为true，则将其选项插入到一个数组。
                if (option.selected) {
                    result.push(option);
                }
            }
            return result;
        }


        function confirm1() {
            {#window.location.href="{% url 'trainningstatus' %}"#}
        }


    </script>

    <form class="form-signin" action="{% url 'saveevaluationresult' %}" method="post">
        {% csrf_token %}
        <div>训练情况
            <br>
            <textarea cols="160" rows="15"
                      id="训练情况" name="训练情况" placeholder="训练情况" value="{{ 训练情况 }}"
            ></textarea></div>

        <div
                {#                style="float:right"#}
        >教员评语
            <br>
            <textarea cols="160" rows="15"
                      id="教员评语" name="教员评语" placeholder="教员评语" value="{{ account }}"
            ></textarea></div>


        <br>
        <div>
            学员姓名
            <input type="text" id="studentname" name="studentname" placeholder="zhang" value="{{ studentname }}"
                   required autofocus>
            教员姓名
            <input type="text" id="teachername" name="teachername" placeholder="zhang" value="{{ teachername }}"
                   required>
            考核席位
            <select name="selLocation1" id="selLocation1">
                <option value="0">地面席</option>
                <option value="1">塔台管制席</option>
                <option value="2">塔台协调席</option>

            </select>
        </div>

        <button class="btn1" type="submit">确定</button>
    </form>


</body>
</html>
