<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="height:300px;width:200px;overflow: scroll;" >

        <table border="1" id="t1" border="0" align="left" width="1260px">

            <tr>
                <td colspan="7" bgcolor="#A9A9A9" align="center">
                    <input readonly="readonly" type="text" id="data_01_01" name="data_01_01"
                           placeholder=""
                           value={{ 选的人员 }}>
                </td>
            </tr>

            <tr>
                <td rowspan="19" width="130px"><p>
                    <img height="130" width="100"
                            {#                                                      src="https://i02piccdn.sogoucdn.com/a0a5a9f200f8a9fa"/>#}
                         src="/static/{{ data_01_01 }}.jpg"/>
                </p></td>
                <th colspan="1">曾用名:</th>
                <td colspan="1">
                    <input type="text" id="data_02_01" name="data_02_01" placeholder=""
                           value={{ data_02_01 }}>
                </td>
                <th colspan="1">身份证:</th>
                <td colspan="1">
                    <input type="text" id="data_03_01" name="data_03_01" placeholder=""
                           value={{ data_03_01 }}>
                </td>
                <td rowspan="14" colspan="2"><p><img border="0" height="300" width="400"
                                                     src="/static/{{ data_01_01 }}_01.jpg"/></p></td>
            </tr>

            <tr>
                <th colspan="1">性别:</th>
                <td colspan="1">
                    <input type="text" id="data_04_01" name="data_04_01" placeholder=""
                           value={{ data_04_01 }}>
                </td>
                <th colspan="1">出生年月:</th>
                <td colspan="1">
                    <input type="text" id="data_05_01" name="data_05_01" placeholder=""
                           value={{ data_05_01 }}>
                </td>
            </tr>
            <tr>
                <th colspan="1">民族:</th>
                <td colspan="1">
                    <input type="text" id="data_06_01" name="data_06_01" placeholder=""
                           value={{ data_06_01 }}>
                </td>
                <th colspan="1">政治面貌:</th>
                <td colspan="1">
                    <input type="text" id="data_07_01" name="data_07_01" placeholder=""
                           value={{ data_07_01 }}>
                </td>
            </tr>
            <tr>
                <th colspan="1">职称:</th>
                <td colspan="1">
                    <input type="text" id="data_08_01" name="data_08_01" placeholder=""
                           value={{ data_08_01 }}>
                </td>
                <th colspan="1">职务:</th>
                <td colspan="1">
                    <input type="text" id="data_09_01" name="data_09_01" placeholder=""
                           value={{ data_09_01 }}>
                </td>
            </tr>
            <tr>
                <th colspan="1">放单状况:</th>
                <td colspan="1">
                    <input type="text" id="data_10_01" name="data_10_01" placeholder=""
                           value={{ data_10_01 }}>
                </td>
                 <th colspan="1">血型:</th>
                <td colspan="1">
                    <input type="text" id="data_11_01" name="data_11_01" placeholder=""
                           value={{ data_11_01 }}>
                </td>
            </tr>
            <tr>
                <th colspan="1">机构:</th>
                <td colspan="1">
                    <input type="text" id="data_12_01" name="data_12_01" placeholder=""
                           value={{ data_12_01 }}>
                </td>
                <th colspan="1">地区:</th>
                <td colspan="1">
                    <input type="text" id="data_13_01" name="data_13_01" placeholder=""
                           value={{ data_13_01 }}>
                </td>
            </tr>
            <tr>
                <th colspan="1">单位:</th>
                <td colspan="1">
                    <input type="text" id="data_14_01" name="data_14_01" placeholder=""
                           value={{ data_14_01 }}>

                </td>
                <th colspan="1">部门:</th>
                <td colspan="1">
                    <input type="text" id="data_15_01" name="data_15_01" placeholder=""
                           value={{ data_15_01 }}>

                </td>
            </tr>
            <tr>
                    <th colspan="1">ORG:</th>
                <td colspan="1">
                    <input type="text" id="data_16_01" name="data_16_01" placeholder=""
                           value={{ data_16_01 }}>

                </td>
                <th colspan="1">STATE:</th>
                <td colspan="1">
                    <input type="text" id="data_17_01" name="data_09_01" placeholder=""
                           value={{ data_17_01 }}>

                </td>
            </tr>
            <tr>
                <th colspan="1">参加工作时间:</th>
                <td colspan="1">
                    <input type="text" id="data_18_01" name="data_18_01" placeholder=""
                           value={{ data_18_01 }}>

                </td>
                <th colspan="1">管制开始时间:</th>
                <td colspan="1">
                    <input type="text" id="data_19_01" name="data_19_01" placeholder=""
                           value={{ data_19_01 }}>

                </td>
            </tr>
            <tr>
                <th colspan="1">P1:</th>
                <td colspan="1">
                    <input type="text" id="data_20_01" name="data_20_01" placeholder=""
                           value={{ data_20_01 }}>

                </td>
                <th colspan="1">P2:</th>
                <td colspan="1">
                    <input type="text" id="data_21_01" name="data_21_01" placeholder=""
                           value={{ data_21_01 }}>

                </td>
            </tr>
            <tr>
                <th colspan="1">L1:</th>
                <td colspan="1">
                    <input type="text" id="data_22_01" name="data_22_01" placeholder=""
                           value={{ data_22_01 }}>

                </td>
                <th colspan="1">L2:</th>
                <td colspan="1">
                    <input type="text" id="data_23_01" name="data_23_01" placeholder=""
                           value={{ data_23_01 }}>

                </td>
            </tr>
            <tr>
                <th colspan="1">学历:</th>
                <td colspan="1">
                    <input type="text" id="data_24_01" name="data_24_01" placeholder=""
                           value={{ data_24_01 }}>

                </td>
                <th colspan="1">学位:</th>
                <td colspan="1">
                    <input type="text" id="data_25_01" name="data_25_01" placeholder=""
                           value={{ data_25_01 }}>

                </td>
            </tr>

            <tr>
                <th colspan="1">管制员级数:</th>
                <td colspan="1">
                    <input type="text" id="data_26_01" name="data_26_01" placeholder=""
                           value={{ data_26_01 }}>

                </td>
                <th colspan="1">管制员等数:</th>
                <td colspan="1">
                    <input type="text" id="data_27_01" name="data_27_01" placeholder=""
                           value={{ data_27_01 }}>

            </tr>
                       <tr>
                <th colspan="1">执照:</th>
                <td colspan="1">
                    <input type="text" id="data_28_01" name="data_28_01" placeholder=""
                           value={{ data_28_01 }}>

                </td>
                <th colspan="1">英语执照类型:</th>
                <td colspan="1">
                    <input type="text" id="data_29_01" name="data_29_01" placeholder=""
                           value={{ data_29_01 }}>

            </tr>
                       <tr>
                <th colspan="1">英语执照等级:</th>
                <td colspan="1">
                    <input type="text" id="data_30_01" name="data_30_01" placeholder=""
                           value={{ data_30_01 }}>

                </td>
                <th colspan="1">HEADIMG:</th>
                <td colspan="1">
                    <input type="text" id="data_31_01" name="data_31_01" placeholder=""
                           value={{ data_31_01 }}>

            </tr>
                       <tr>
                <th colspan="1">新身份证号:</th>
                <td colspan="1">
                    <input type="text" id="data_32_01" name="data_32_01" placeholder=""
                           value={{ data_32_01 }}>

                </td>
                <th colspan="1">手机号:</th>
                <td colspan="1">
                    <input type="text" id="data_33_01" name="data_33_01" placeholder=""
                           value={{ data_33_01 }}>

            </tr>
                       <tr>
                <th colspan="1">出生地:</th>
                <td colspan="1">
                    <input type="text" id="data_34_01" name="data_34_01" placeholder=""
                           value={{ data_34_01 }}>

                </td>
                <th colspan="1">R1:</th>
                <td colspan="1">
                    <input type="text" id="data_35_01" name="data_35_01" placeholder=""
                           value={{ data_35_01 }}>

            </tr>
                       <tr>
                <th colspan="1">R2:</th>
                <td colspan="1">
                    <input type="text" id="data_36_01" name="data_36_01" placeholder=""
                           value={{ data_36_01 }}>

                </td>
                <th colspan="1">状态:</th>
                <td colspan="1">
                    <input type="text" id="data_37_01" name="data_37_01" placeholder=""
                           value={{ data_37_01 }}>

            </tr>


        </table>
    </div>
    <br>
</form>
<br>

<div>


</body>
</html>